<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aims</title>
</head>
<body>
<h1>Aims</h1>
1)	`ctrl + shift +backspace` - Last place you edited\n
a.	Ctrl +shift + E - similar\n
2)	Ctrl + Shift drag fi– multi \n
a.	Alt + click\n
b.	Alt + J add next one, Alt + Shift + j remove previous\n
3)	`ctrl + g` Go to line\n
4)	`ctrl + shift` last locations\n
5)	`ctrl + w’ – Widen selection (`shift + ctrl + w` narrow)\n
6)	`ctrl + alt + l` - Lint page or selection\n
7)	`ctrl + alt + o` - Order imports\n
8)	Double tap shift `find anywhere`\n
a.	Ctrl + shift + a actions\n
b.	Ctrl + s + \n
9)	Refactoring\n
a.	Ctrl + alt + v -Convert to variable\n
b.	Ctrl + alt + n – iNline\n
c.	Ctrl + alt + m – refactor to Method/function\n
10)	Alt + enter – imports spelling, general pycharm magic\n
11)	Run individual Test\n
12)	Refactor \n
13)	Find anywhere\n
14)	Ctrl + shift + v – paste from previous\n
15)	History\n
16)	Comits\n
17)	Ctrl + b , Ctrl + click follow link\n
18)	Ctrl shift F / R\n
19)	Alt L/R, Alt up/down\n
20)	Crtl + shit + I – info from lncation\n
21)	Ctrl shift u - upper\n
22)	Ctrl p – parameters\n
23)	Ctrl q – quick help\n
24)	Alt numbers,\n
25)	Alt F12 terminal\n
26)	F9 debug\n
27)	Shift F10 Run\n
28)	ToDo’s\n
</body>
</html>